@model Domain.Entities.Department

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectorCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectorCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralManeg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneralManeg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManegSupCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManegSupCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DepCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
